{% extends "layout.html" %}

{% block title %}
Log In
{% endblock %}

{% block main %}

<!-- Flash Messages
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-danger text-center w-50 mx-auto" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %} -->


<form action="{{ url_for('auth_bp.login') }}" method="post">
    {{ form.hidden_tag() }}

    <div class="mb-3">
        {{ form.username(class="form-control mx-auto w-auto", autocomplete="off", autofocus=True,
        placeholder="Username") }}
    </div>

    <div class="mb-3">
        {{ form.password(class="form-control mx-auto w-auto", placeholder="Password") }}
    </div>

    <div>
        {{ form.submit(class="btn btn-primary") }}
    </div>

</form>
{% endblock %}