{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<h1>Users List</h1>
<table id="users_table">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Country</th>
            <th>Address</th>

            <th>Created date</th>
            <th>Last login date</th>
            <th>Profile picture</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.country }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.createdAt }}</td>
            <td>{{ user.lastLogin }}</td>
            <td>
                {% if user.profilePicture %}
                <img src="{{ url_for('static', filename='uploads/images/' ~ user.profilePicture) }}"
                    alt="Profile Picture" style="max-width: 65px; height: auto;">
                {% else %}
                N/A
                {% endif %}
            </td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn dropdown-toggle p-0 border-0 bg-transparent shadow-none"
                        data-bs-toggle="dropdown">
                        Action
                    </button>
                    <ul class="dropdown-menu" style="min-width: auto;">
                        <li><a class="dropdown-item text-secondary"
                                href="{{ url_for('users_bp.update', id=user.id, next=url_for('users_bp.get_users')) }}">Edit</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider mx-1">
                        </li>
                        <li>
                            <button type="button" class="dropdown-item text-danger" data-bs-toggle="modal"
                                data-bs-target="#deleteUserModal" data-user-id="{{ user.id }}"
                                data-username="{{ user.username }}">
                                Delete
                            </button>
                        </li>
                    </ul>
                </div>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!--Confirm delete user modal-->
<div class="modal fade" id="deleteUserModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Confirm delete user</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                Are you sure you want to delete user <strong id="modalUsername"></strong>?
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Cancel
                </button>

                <form id="deleteUserForm" method="POST">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                    <button type="submit" class="btn btn-danger">
                        Confirm delete
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>

{% endblock %}