{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<h1>Users List</h1>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Country</th>
            <th>Address</th>
            <th>Profile Picture</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.firstName }}</td>
            <td>{{ user.lastName }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.country }}</td>
            <td>{{ user.address }}</td>
            <td>
                {% if user.profilePicture %}
                <img src="{{ url_for('static', filename='uploads/images/' ~ user.profilePicture) }}"
                    alt="Profile Picture" style="max-width: 65px; height: auto;">
                {% else %}
                N/A
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}